*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.logo{
    display: flex;
}
.header{
    display: flex;
    width: auto;
    height: 60px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.solutions{
    display: flex;
}

.services_cards{
    display: flex;
    list-style-type: none;
}